/* global overrides/reset */

:root, body,h1,h2,h3,h4,h5,h6,p,span,small {
  margin: 0;
  padding: 0;
}

a, button {
cursor:pointer;
}

ul, li {
  list-style: none;
  padding: 0;
}


/* custom classes */

.card {
  box-shadow: 0px 0px 15px rgba(0,0,0,.65);
  background: #f5f5f5;
  border-radius:10px;
}
