/* global overrides/reset */
:root {
  font-family: 'Montserrat', sans-serif;
  font-optical-sizing: auto;
}

:root, body,h1,h2,h3,h4,h5,h6,p,span,small {
  margin: 0;
  padding: 0;
}

a, button {
cursor:pointer;
text-decoration: none;
}

a:visited {
  color:inherit !important;
}

form, input, form > * {
  outline: none;
  border: 1px solid transparent;
}

input:focus, input:focus-visible {
  border: 1px solid var(--color-light)
}

ul, li {
  list-style: none;
  padding: 0;
}

main {
  max-width: 100vw;
}

main > * {
  max-width: 100%;
}

main .content {
  max-width: fit-content;
  flex-wrap: wrap;
}

main, .container-main {
  flex-wrap: wrap;
}

/* custom classes */

.card {
  box-shadow: 0px 0px 5px var(--color-light);
}
.search button {
  scale: 1;
  transition: all .15s ease-in-out;
}
.search button:hover {
  scale: 1.1;
  border: 1px solid var(--color-light);
}
.nav-menu li {
  scale: 1;
  transition: all .15s ease-in-out;
}
.nav-menu li:hover {
  scale: 1.05;
}

.nav-menu li.active {
  border: 2px solid var(--color-light)
}
