/* global overrides/reset */

:root, body,h1,h2,h3,h4,h5,h6,p,span,small {
  margin: 0;
  padding: 0;
}

a, button {
cursor:pointer;
}

a:visited {
  color:inherit !important;
}

ul, li {
  list-style: none;
  padding: 0;
}

/* color theme */

:root {
  --color-primary: #100a29;
  --color-secondary: #2a1e6e;
  --color-light: #f5f5f5;
  --color-accent: #3a89ff;
}

:root .bg-primary {
  background: var(--color-primary);
}

:root .text-primary {
  color: var(--color-primary);
}

:root .bg-secondary {
  background: var(--color-secondary);
}

:root .text-secondary {
  color: var(--color-secondary);
}

:root .bg-light {
  background: var(--color-light);
}

:root .text-light {
  color: var(--color-light);
}

*.bg-primary:not(*.text-primary):not(*.text-secondary) {
  color: var(--color-light);
}

*.bg-secondary:not(*.text-primary):not(*.text-secondary){
  color:var(--color-light);
}

*.bg-light:not(*.text-light) {
  color:var(--color-primary);
}


/* custom classes */

.card {
  box-shadow: 0px 0px 5px var(--color-light);
  border-radius:10px;
}
